<mat-card>
  <h2 class="mat-elevation-z1">Gallery</h2>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">

      <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>COLLECTIONS</mat-card-title>
          <mat-card-subtitle>STORIES</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/Zaynah.jpg">
          <mat-card-actions>
            <button mat-button>FIRST STORY</button>
            <button mat-button>FANTASY</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>COLLECTIONS</mat-card-title>
          <mat-card-subtitle>STORIES</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/Legacy.jpg">
          <mat-card-actions>
            <button mat-button>BOOK TWO</button>
            <button mat-button>FANTASY</button>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>COLLECTIONS</mat-card-title>
          <mat-card-subtitle>STORIES</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/Twisted.jpg">
          <mat-card-actions>
            <button mat-button>SECOND STORY</button>
            <button mat-button>ROMANCE</button>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>COLLECTIONS</mat-card-title>
          <mat-card-subtitle>STORIES</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/Gem.jpg">
          <mat-card-actions>
            <button mat-button>THIRD STORY</button>
            <button mat-button>FANTASY</button>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>COLLECTIONS</mat-card-title>
          <mat-card-subtitle>STORIES</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/Kidnapped.jpg">
          <mat-card-actions>
            <button mat-button>FOURTH STORY</button>
            <button mat-button>ACTION</button>
          </mat-card-actions>
        </mat-card>
      </div> 
    </div>
  </div>

</mat-card>